.header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #aaadaf;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
}

.header img {
  width: 9.5rem;
  height: auto;
}

.header nav {
  width: 100%;
  padding-top: 0.75rem;
  text-align: center;
  /* margin-top: 0.75rem; */

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header a {
  margin: 0 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}